@font-face {
  font-family: Poppins-Regular;
  src: url(./styles/poppins/Poppins-Regular.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./styles/poppins/Poppins-Medium.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(./styles/poppins/Poppins-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Light;
  src: url(./styles/poppins/Poppins-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Thin;
  src: url(./styles/poppins/Poppins-Thin.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./styles/montserrat/Montserrat-ExtraBoldItalic.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./styles/montserrat/Montserrat-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-Light;
  src: url(./styles/montserrat/Montserrat-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}


.imc-min{
  color: red;
  font-family: Montserrat-ExtraBold;
}

.imc-normal{
  color: green;
  font-family: Montserrat-ExtraBold;
}

.imc-hi{
  color: orangered;
  font-family: Montserrat-ExtraBold;
}

.imc-ob{
  color: red;
  font-family: Montserrat-ExtraBold;
}

.foot{
  color: white;
  font-family: Montserrat-ExtraBold;
}

.subbt{
  font-family: Poppins-Light;
  font-size: 0.80em;
}

.truki {
  background-color: red;
}