@font-face {
  font-family: Poppins-Regular;
  src: url(./styles/poppins/Poppins-Regular.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./styles/poppins/Poppins-Medium.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(./styles/poppins/Poppins-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Light;
  src: url(./styles/poppins/Poppins-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Thin;
  src: url(./styles/poppins/Poppins-Thin.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./styles/montserrat/Montserrat-ExtraBoldItalic.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}
